# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependencies
vendor/
.bundle/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules (if any frontend tooling is used)
node_modules/

# Logs
*.log

# Build files
dist/
