<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/icon.jpg' | relative_url }}" alt="{{ site.title }} Logo" height="50" class="me-2">
        <span class="site-title">Islamic Society of Sheboygan</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prayer-times">Prayer Times</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events & Announcements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about#leadership">Leadership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white ms-2" href="/donate">Donate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if page.layout == 'home' %}
  <div class="prayer-times-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="next-prayer" id="next-prayer-container">
            <h4>Next Prayer</h4>
            <div class="prayer-info">
              <span class="prayer-name" id="next-prayer-name">Loading...</span>
              <span class="prayer-time" id="next-prayer-time"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="{{ '/prayer' | relative_url }}" class="btn btn-outline-light btn-sm">Full Prayer Schedule</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</header>
